[submodule "nice-nano-kicad"]
	path = nice-nano-kicad
	url = https://github.com/bstiq/nice-nano-kicad
[submodule "kbd"]
	path = kbd
	url = https://github.com/foostan/kbd
[submodule "MX_Alps_Hybrid"]
	path = MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "Keebio-Parts.pretty"]
	path = Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "keyboard_parts.pretty"]
	path = keyboard_parts.pretty
	url = https://github.com/tmk/keyboard_parts.pretty
[submodule "kicad_lib_tmk"]
	path = kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
